
@{
    ViewData["Title"] = "AccessDenied";
}

<h1 class="text-danger" style="text-align:center">AccessDenied</h1>
<div class="text-danger">Request resource is not accessible right now</div>
<img src="~/Images/access-denied.png" style="width=400px;height=400px" />


