
@{
    ViewBag.Title = "Custom Error";
}

<h2>The @ViewBag.Role is in Use</h2>
<h3>The @ViewBag.Role is used byn some users.So you have to delete those users before deleting this role</h3>
<p>@ViewBag.Message</p>